%h1
  = @group.name

%h3
  Current group members:
  = link_to "Invite user to group", edit_group_path(@group)
  - @group.users.each do |user|
    %li
      = "#{user.email} - #{user.name.titleize}"
= link_to "Add your expense", new_group_expense_path(@group)
%br
  %table
    %tr
      %th Creator
      %th Description
      %th Quantity
      %th Cost
      %th Owners
    - @group.expenses.each do |expense|
      %tr
        %td= expense.user.email
        %td= expense.description
        %td= expense.quantity
        %td= expense.cost.format
        %td= expense.owners.map(&:name).join(', ')
= link_to "Back to user info", user_path(current_user)
= link_to "Your balance info in this group", balance_group_path(@group)
